In [9]:
# Dependencies
import pandas as pd
import requests

In [4]:
# Store filepath in a variable
file_one = "data/billboard_songs_merged.csv"

In [7]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
billboard = pd.read_csv(file_one)

In [11]:
# Show just the header
billboardhead

,RankId,Rank,Song_x,Artist_x,Year,Song_y,Artist_y,Lyrics,Source
0,1,1,Wooly Bully,Sam the Sham and the Pharaohs,1965,wooly bully,sam the sham and the pharaohs,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,2,I Can't Help Myself (Sugar Pie Honey Bunch),Four Tops,1965,i cant help myself sugar pie honey bunch,four tops,sugar pie honey bunch you know that i love yo...,1.0
2,3,3,(I Can't Get No) Satisfaction,The Rolling Stones,1965,i cant get no satisfaction,the rolling stones,,1.0
3,4,4,You Were on My Mind,We Five,1965,you were on my mind,we five,when i woke up this morning you were on my mi...,1.0
4,5,5,You've Lost That Lovin' Feelin',The Righteous Brothers,1965,youve lost that lovin feelin,the righteous brothers,you never close your eyes anymore when i kiss...,1.0

In [12]:
# Show a single column
lyrics= []
for index, row in billboardhead.iterrows():
    song=row['Song_x']
    artist=row['Artist_x']
    apiurl= "https://api.audd.io/findLyrics/?q="
    song_data = requests.get(apiurl + song + artist).json()
    lyrics.append(song_data)

NameError: name 'url' is not defined

In [6]:
# Show mulitple specific columns--note the extra brackets
file_one_df[["first_name", "email"]].head()

  first_name                    email
0      David         djordan0@home.pl
1    Stephen  sriley1@hugedomains.com
2     Evelyn  egrant2@livejournal.com
3        Joe         jmendoza3@un.org
4   Benjamin   brodriguez4@elpais.com

In [7]:
# Head does not change the DataFrame--it only displays it
file_one_df.head()

   id first_name  last_name                    email  gender
0   1      David     Jordan         djordan0@home.pl    Male
1   2    Stephen      Riley  sriley1@hugedomains.com    Male
2   3     Evelyn      Grant  egrant2@livejournal.com  Female
3   4        Joe    Mendoza         jmendoza3@un.org    Male
4   5   Benjamin  Rodriguez   brodriguez4@elpais.com    Male

In [8]:
# Export file as a CSV, without the Pandas index, but with the header
file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)